{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/introduction/"> 体育场馆预约系统 </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
{#                <li><a href="/pretty/list/">预约管理</a></li>#}
{#                <li><a href="/task/list/">任务管理</a></li>#}
{#                <li><a href="/user/list/">用户管理</a></li>#}
                 <li><a href="/introduction/" target="_self">体育馆简介</a></li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">场馆列表 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/depart/list/" >主校区</a></li>
                        <li><a href="/departpanhe/list/" >副校区</a></li>
<!--                        <li><a href="/locations/">场馆地图</a></li>-->
                    </ul>
                </li>
                {#target="_blank"  新建窗口打开#}

                <li><a href="/notice/">预约须知</a></li>
                <li><a href="/order/list/">场馆预约-主校区</a></li>
                <li><a href="/orderpanhe/list/">场馆预约-副校区</a></li>



            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">目前登录用户：{{ request.session.info.name }} <span class="caret"></span></a>
{#                   <li><a href="#">目前登录用户：{{ request.session.info.name }} </a></li>#}
                    <ul class="dropdown-menu">
{#                        <li><a href="#">个人资料</a></li>#}
{#                        <li><a href="#">我的信息</a></li>#}
{#                        <li role="separator" class="divider"></li>#}
                        <li><a href="/logout/">注销</a></li>
                    </ul>
                </li>
                <li><a href="../../admin/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 管理入口</a></li>

            </ul>
        </div>
    </div>
</nav>

<div>
    {% block content %}

    {% endblock %}
</div>



<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
