{% extends 'layout.html' %}

{% block content %}
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="caption">
                <div class="v_news_content"><p
                        style="white-space: normal; text-align: center; line-height: 1.75em; text-indent: 43px;"><span
                        style="font-family: 仿宋; font-size: 24px;">体育馆入场须知</span></p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;"></span></p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">一、学校教职工及学生凭本人有效证件进入，非本校人员一律不得进入场地。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">二、入场者须爱护体育设备设施器材、木地板、羽毛球场地地胶等。禁止擅自移动或攀爬设备设施器材，禁止私自将设备设施器材带出场外，禁止使用危险动作和自带、使用危险器械。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">三、禁止私拉电线、擅动电源和消防设施，禁止在体育馆内吸烟、使用明火。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">四、禁止携带易燃、易爆、易腐蚀物品等危险品，禁止携带任何宠物。禁止电动车、自行车、滑板（车）、轮滑、平衡车、婴儿推车等进入。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">五、禁止传染病患者、无行为责任能力者、有突出性疾病、精神病史、心脑血管、癫痫、饮酒人员等身体不适者进入。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">六、禁止穿着高跟鞋、皮鞋、钉鞋等不符合场馆场地要求的鞋类进入。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">七、未经审核审批，任何使用单位或个人不得在场地内外张贴海报、广告或标语，设置任何类型的宣传展示物品等。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">八、入场者应根据个人身体状况进行活动，科学锻炼，合理健身，在场地中出现的一切健康问题、意外伤害、人身安全等均由个人负责。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">九、入场者须妥善保管好个人携带的物品，贵重物品请勿带入场地，如有丢失，责任自负。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">十、入场者须维护和谐的公共秩序，服从工作人员的管理。严禁在体育场馆内寻衅滋事、打架斗殴，不得有赤膀、赤脚等举止不端的行为。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">十一、入场者须注意保持体育场整洁卫生，禁止携带食物入场，禁止随地吐痰、乱扔果皮、纸屑、矿泉水瓶、口香糖渣等杂物，禁止刻画、涂写。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;">十二、学校组织全民健身、体育教育教学、运动队训练、群众性体育活动、举办体育赛事、开展体育运动等需要封闭场馆时，任何无关人员不得进入场馆场地。</span>
                    </p>
                    <p style="white-space: normal; line-height: 1.75em; text-indent: 43px;"><br></p>
                    <p style="white-space: normal; text-align: right; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;体育场馆管理中心</span>
                    </p>
                    <p style="white-space: normal; text-align: right; line-height: 1.75em; text-indent: 43px;"><span
                            style="font-family: 仿宋; font-size: 21px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2023年12月12日</span>
                    </p>
                    {#<p style="white-space: normal; text-align: right; line-height: 1.75em; text-indent: 43px;"><span style="font-family: 仿宋; font-size: 21px;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2023年12月</span></p>#}
                    <p><br></p></div>
            </div>
        </div>
    </div>



    {#  <div class="bs-example" data-example-id="media-alignment">#}
    {#                <div class="media">#}
    {#                    <div class="media-left">#}
    {#                        <a href="#">#}
    {#                            <img class="media-object" data-src="holder.js/64x64" alt="64x64"#}
    {#                                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xODlkYTk5ZWM0YiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE4OWRhOTllYzRiIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40NDEzMTA4ODI1NjgzNiIgeT0iMzYuNDc4MTM0MDU5OTA2MDA0Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="#}
    {#                                 data-holder-rendered="true" style="width: 64px; height: 64px;">#}
    {#                        </a>#}
    {#                    </div>#}
    {#                    <div class="media-body">#}
    {#                        <h4 class="media-heading">Top aligned media</h4>#}
    {#                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin#}
    {#                            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce#}
    {#                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
    {#                        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque#}
    {#                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="media">#}
    {#                    <div class="media-left media-middle">#}
    {#                        <a href="#">#}
    {#                            <img class="media-object" data-src="holder.js/64x64" alt="64x64"#}
    {#                                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xODlkYTk5ODc1NyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE4OWRhOTk4NzU3Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40NDEzMTA4ODI1NjgzNiIgeT0iMzYuNDc4MTM0MDU5OTA2MDA0Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="#}
    {#                                 data-holder-rendered="true" style="width: 64px; height: 64px;">#}
    {#                        </a>#}
    {#                    </div>#}
    {#                    <div class="media-body">#}
    {#                        <h4 class="media-heading">Middle aligned media</h4>#}
    {#                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin#}
    {#                            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce#}
    {#                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
    {#                        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque#}
    {#                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="media">#}
    {#                    <div class="media-left media-bottom">#}
    {#                        <a href="#">#}
    {#                            <img class="media-object" data-src="holder.js/64x64" alt="64x64"#}
    {#                                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xODlkYTk5YzY0YSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE4OWRhOTljNjRhIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy40NDEzMTA4ODI1NjgzNiIgeT0iMzYuNDc4MTM0MDU5OTA2MDA0Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="#}
    {#                                 data-holder-rendered="true" style="width: 64px; height: 64px;">#}
    {#                        </a>#}
    {#                    </div>#}
    {#                    <div class="media-body">#}
    {#                        <h4 class="media-heading">Bottom aligned media</h4>#}
    {#                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin#}
    {#                            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce#}
    {#                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>#}
    {#                        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque#}
    {#                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}

{% endblock %}